.mymetadata
.checkstyle
.class
.war
.zip
.rar
.idea
*.iml
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/bin/
/catalina.home_IS_UNDEFINED/*
/**/target/*
/**/catalina.home_IS_UNDEFINED/*
